// Globals

$btn-sizes: (
  'default': 41,
  'large': 54
);
$font-size-root: 16px;
$btn-letter-spacing:2rem;

$headings: (
  'h1': (
    'size': 13.3125rem,
    'line-height': 2.15em,
    'color': 'yellow'
  ),
  'h2': (
    'size': 2.25rem,
    'line-height': 1.5em
  ),
  'h3': (
    'size': 1.5625rem,
    'line-height': 1.4em
  ),
  'h4': (
    'size': 1.125rem,
    'line-height': 1.4em
  ),
  'h5': (
    'size': 1.0625rem
  ),
  'h6': (
    'size': .75rem
  ),
  'subtitle-2': (
    'size': 1rem
  ),
  'overline': (
    'letter-spacing': 0
  )
);


// Any component modifications must be imported at the bottom
//@import '~vuetify/src/components/VBtn/_variables.scss';
//@import '~vuetify/src/components/VList/_variables.scss';
//@import '~vuetify/src/styles/main.sass';
